:root{
--primary-text-color:#2E2F42;
--title-text-color:#434455;
--accent-color:#404BBF;
--background-color: #fff;
--button-color: #4D5AE5;
--button-secondary:#E7E9FC;
--footer-text: #E7E9FC;
--logo-web:#4D5AE5;
--logo-footer-studio:#F4F4FD;
--wite-color-text:#fff;
--background-team:#F4F4FD;




}

body {
    color: var(--title-text-color);
    background-color: var(--background-color);

    font-family: roboto, sans-serif; 
}
a {
    outline:none;
    text-decoration: none;
}


.list {
    list-style: none;
}
/*колір основного тексту NAVY BLUE  #2E2F42*/
/*другорядний текст SLATE #434455*/
/*білий #FFFFFF*/
/*акцент #404BBF;*/
/*посилання IRIS #4D5AE5;*/
/*контейнер посилання #E7E9FC*/
/* CLOUD #F4F4FD;*/

/* logo-header */

.logo-header{
    text-transform: uppercase; cursive;
    font-weight: 800;
    line-height: 1.33;
}
.web{
    color: var(--logo-web);
}

/* logo-footer */

.logo-footer{
    text-transform: uppercase; cursive;
    font-weight: 800;
    line-height: 1.34;
}
.web {
    color: var(--logo-web);
}
.studio{
    color: var(--logo-footer-studio);
}


/* site nav */
.site-nav .link {
    color:var(--primary-text-color)
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color:var(--accent-color)
}
.site-nav .link.current {
    color: var(--button-color);
}
.site-nav{
    line-height: 1.5;
}
.auth-nav .link{
    color: var(--title-text-color);
}
/* address */
.auth-nav{
    font-style: normal
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
}


/* hero */
.hero{
    
}
.hero-title{
    color: var(--wite-color-text)
}

/* section */


.section-title{
    color:var(--primary-text-color)
}
.transform{
    text-transform: capitalize
}

/* feature */
.feature-list .title{
color: var(--primary-text-color);
}

/* examples */

.section-team{
    background-color: var(--background-team);
}
.team .title {
    color: var(--primary-text-color);
}

/* button */
.button {
    font-family: inherit
}
.button.primary{
    color: var(--wite-color-text);
    background-color: var(--button-color);
}

/* footer */
.footer{
    background-color: var(--primary-text-color)
}

/* portfolio */

.button.secondary{
    color: var(--button-color);
    background-color: var(--button-secondary);
}
.products .title {
    color: var(--primary-text-color);
}
.footer .title{
    color: var(--footer-text)
}

/* hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}